@import "../../../../assets/styles/variables";

:host {
  display: contents;
}

.results {
  width: 70%;
  padding: 0 5%;
  color: $rust;
  @media (max-width: $breakpoint_tablet_landscape) { 
    margin-top: 5%;
    width: 90%;
  }
}

.contact {
	animation: Contact 600ms ease-in-out forwards;
}

