app-preloader(*ngIf='loading$ | async')
app-header(*ngIf='!(loading$ | async)', [title]='"Driver Championship Standings " + (season$ | async)')
.title-round(*ngIf='!(loading$ | async)')
  h2
    | Round {{round$ | async}}
.main
  app-drivers-driver-standings(*ngIf='!(loading$ | async)', [drivers]="drivers$ | async")
app-footer
