header
  #primaryNav.nav-primary.table-footer-group
    .nav-width
      .logo
          img(src='https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg', alt='Formula 1')
      .title
        h1.fs-20.pointer((click)='goHome()')
          | {{title}}